.ViewLoans-main-container{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;

}

.ViewLoans-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:4rem;
}

.ViewLoans-header{
    display: flex;
    justify-content: space-evenly;
}

.ViewLoans-header-item{

}